@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    background-color: #74EBD5;
   }
  .blockquote-wrapper {
     display: flex;
     height: 100vh;
  }
  .blockquote {
      position: relative;
      color: #2e6057;
      font-family: 'Staatliches', cursive;
      max-width: 450px;
      margin: 80px auto;
      align-self: center;
      padding: 11rem 1rem 14rem;
      overflow: hidden;
  }
  .blockquote h1 {
      color: #224841;
      position: relative; 
      font-size: 2.5rem;
      font-weight: normal;
      line-height: 0.8;
      margin: 0;
      z-index: 1;
  }
  h1 span {
    color: #2e6057;
  }
  .blockquote h1:after {  
      content:"’";
      position: absolute;
      top: -3rem;
      left: 0;
      font-size: 100rem;
      line-height: 0.7;
      color: rgba(206, 255, 246, 0.5);
      text-shadow: -3rem -3rem 0 rgba(206, 255, 246, 0.2);
      z-index: -1;
  }
  .blockquote h1:before {
      content:"’";
      position: absolute;
      top: 0;
      left: 3rem;
      font-size: 100rem;
      line-height: 0.7;
      color: rgba(206, 255, 246, 0.8);
      text-shadow: 3rem 3rem 0 rgba(206, 255, 246, 0.5);
      z-index: -1;
  }
  .blockquote h4 {
      position: relative;
      color: #224841;
      font-size: 1.2rem;
      font-family: 'Oswald', sans-serif;
      font-weight: normal;
      line-height: 1.1;
      margin: 0;
      padding-top: 1.5rem;
      z-index: 1;
  }
  .blockquote h4 a {
     color: #224841;
     font-size: 0.9rem;
     text-decoration: none;
  }